@model IEnumerable<DTTLLesson06.Models.DTLSong>

@{
    ViewBag.Title = "DTLSong";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("thêm mới", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dtlTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtlAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtlArtist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtlYearRelease)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dtlTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtlAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtlArtist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtlYearRelease)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
