
@{
    ViewBag.Title = "AddNewStudent";
}

<h2>Thêm mới sinh viên</h2>
<hr/>
@using(Html.BeginForm())
{ 
    <div>
        @Html.Label("Họ tên")
        @Html.TextBox("fullName")
    </div>
    <div>
        @Html.Label("Mã số")
        @Html.TextBox("masv")
    </div>
    <div>
        @Html.Label("Tài khoản")
        @Html.TextBox("taikhoan","", new {@class="form-control"})
    </div>
    <div>
        @Html.Label("Mã số")
        @Html.Password("matkhau")
        @Html.Password("matkhau")
    </div>
    <button>Submit</button>
}

